# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
terrorsaur

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#Filter Project directory
.idea/
src/
pkg/

#Filter project file
*.iml
go.sum